* {
    box-sizing: border-box;
}

#main{

    width:480px;
    margin: auto;
    background-color: #e7cece; 
    border-radius: 10px; 
    overflow: hidden;
    
}

 div {
    float: left;
    border-radius: 5px;
    background: url(img/background.gif); 
    margin:2%; 
    cursor: pointer; 
    
} 

img{
    opacity:0;
}